{% load static %} {% load wagtailcore_tags %}
<style>
  .accordian-block {
    border-radius: 4px;
    word-wrap: break-word;
  }
  .accordian-title {
    width: 100%;
    color: var(--color-primary);
    cursor: pointer;
    margin: 0;
    padding: 15px 15px;
    font-size: 1.2rem;
  }
  .accordian-title.active {
    color: #ffffff;
  }
  .accordian-icon {
    width: 15px;
    height: 9px;
    cursor: pointer;
    flex-shrink: 0;

    background-color: var(--color-primary);

    -webkit-mask-position: center;
    mask-position: center;

    -webkit-mask-image: url({%static "images/icons/arrow-down-triangle.svg"%});
    mask-image: url({%static "images/icons/arrow-down-triangle.svg"%});

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    transition: transform 0.3s ease;
  }
  .accordian-icon.active {
    background-color: var(--color-white);
  }

  .accordian-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55px;
    background-color: var(--color-white);
    border-bottom: 1px solid var(--theme-color-base-lighter);
  }
  .accordian-header.active {
    background-color: var(--color-primary);
    border-bottom: none;
  }

  .accordian-header:hover {
    cursor: pointer;
  }
  .accordian-header p {
    color: var(--color-primary);
  }
  .hidden {
    display: none;
  }
  .accordian-content {
    padding: 20px 45px;
    width: 100%;
    border-bottom: 1px solid var(--theme-color-base-lighter);
  }
  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .accordian-header-button {
    background: none;
    color: #1b1b1b;
    border: none;
    font: inherit;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .accordian-header-button.active {
    color: #ffffff;
  }
  .accordian-content .rich-text ol {
    list-style-type: decimal;
  }
  .rich-text img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  @media (max-width: 768px) {
    .accordian-title {
      padding: 15px 10px;
    }
    .accordian-header {
      width: 100%;
      height: auto;
    }
    .accordian-header h3 {
      font-size: 18px;
    }
    .accordian-content {
      width: 100%;
      padding: 20px 20px;
    }
    .accordian-header-button {
      font-size: 18px;
    }
  }
</style>
{% with data=block.value|default:self %}
<div id="accordian-{{block_index}}{{suffix}}" class="accordian-block">
  <div class="accordian-header">
    <h3 class="accordian-title">
      <button
        type="button"
        class="accordian-header-button"
        aria-expanded="false"
        aria-controls="content-{{block_index}}"
        id="btn-{{block_index}}"
      >
        {{ data.title }}
        <span class="accordian-icon" aria-hidden="true"></span>
      </button>
    </h3>
  </div>
  <div
    id="content-{{block_index}}"
    class="accordian-content hidden"
    role="region"
    aria-labelledby="btn-{{block_index}}"
  >
    {% for block in data.description %}
      {% if block.block_type == 'prose' %}
    <div class="rich-text">{{ block.value }}</div>

    {% elif block.block_type == 'callout' %}
    <div class="callout-content">{% include_block block %}</div>
    {% endif %} {% endfor %}
  </div>
</div>
{% endwith %}
