{% load static %}
<style>
    .alert-banner {
        background-color: var(--bg-warning);
        color: var(--text-black);
        font-weight: bold;
    }

    .alert-banner p {
        line-height: 1.2;
    }

    .alert-banner a {
        color: var(--text-black);
        text-decoration: underline;
    }

    .alert-banner .close-btn {
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .alert-banner .close-btn:hover {
        color: var(--text-muted);
    }

    .alert-banner .alert-content {
        display: flex;
        justify-content: space-between;
        min-height: 48px;
        align-items: center;
    }

    @media(min-width:1025px) {
        .alert-banner .alert-content {
            padding-left: 2rem;
            gap: 145px;
        }
    }

    @media(max-width:1024px) {
        .alert-banner .alert-content {
            padding-left: 1rem;
            gap: 145px;
        }
    }

    @media(max-width:768px) {
        .alert-banner .alert-content {
            padding-left: 1rem;
            gap: 0px;
        }
    }

    #alertBanner .alert-content {
        display: flex;
        align-items: flex-start;
        gap: 12px;
        padding: 16px 0;
    }
</style>
<div class="alert-banner" id="alertBanner">
    <div class="grid-container">
        <div class="alert-content">
            <p>This is a testing site for the U.S. Tax Court and not intended for public use. To learn more about starting a case, visit the <a href="https://www.ustaxcourt.gov/">U.S. Tax Court website.</a></p>
            <button class="close-btn" onclick="closeBanner()" aria-label="Close alert banner">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>
    </div>
    <script type="text/javascript">
        function closeBanner() {
            document.getElementById("alertBanner").style.display = "none";
        };
    </script>
</div>
