{% load static %}
      <div class="alert-banner" id="alertBanner">
        <div class="alert-content">
          <p>This is a testing site for the U.S. Tax Court and not intended for public use.  To learn more about starting a case, visit the <a href="https://www.ustaxcourt.gov/">U.S. Tax Court website.</a>
          </p>
          <button class="close-btn" onclick="closeBanner()">
          <img src="data:image/svg+xml,<svg xmlns=&quot;http://www.w3.org/2000/svg&quot; width=&quot;24&quot; height=&quot;24&quot; viewBox=&quot;0 0 24 24&quot;><path d=&quot;M19 6.41 17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z&quot;/></svg>" alt="close">
          </button>

        </div>


        <script>
          function closeBanner(){
            document.getElementById("alertBanner").style.display = "none";
          }
        </script>
      </div>
