{% load static wagtailcore_tags env_tags wagtailsettings_tags %}
{% get_settings %}
<!DOCTYPE html>
<html lang="en">
   <head>
      {% if settings.home.GoogleTagManagerSettings.gtm_container_id %}
      <script>
            (function (w, d, s, l, i) {
                  w[l] = w[l] || [];
                  w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
                  var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s),
                        dl = l != 'dataLayer' ? '&l=' + l : '';
                  j.async = true;
                  j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
                  f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer',
                  '{{ settings.home.GoogleTagManagerSettings.gtm_container_id }}');
      </script>
      <!-- End Google Tag Manager -->
      {% endif %}

        <meta charset="utf-8" />
        {% get_environment as environment %}
        {% if environment != "production" %}<meta name="robots" content="noindex">{% endif %}
        <title>
            {% block title %}
                {% if page.seo_title %}
                    {{ page.seo_title }}
                {% else %}
                    {{ page.title }}
                {% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% wagtail_site as current_site %}
                {% if current_site and not page.is_site_root %}| United States Tax Court{% endif %}
            {% endblock %}
        </title>
        {% if page.search_description %}<meta name="description" content="{{ page.search_description }}" />{% endif %}
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Force all links in the live preview panel to be opened in a new tab #}
        {% if request.in_preview_panel %}<base target="_blank" />{% endif %}
        {# Favicon #}
        <link rel="icon" type="image/svg+xml" href="{% static 'images/favicon.svg' %}" />
        <link rel="apple-touch-icon"
              sizes="57x57"
              href="{% static 'images/icons/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon"
              sizes="60x60"
              href="{% static 'images/icons/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon"
              sizes="72x72"
              href="{% static 'images/icons/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon"
              sizes="76x76"
              href="{% static 'images/icons/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon"
              sizes="114x114"
              href="{% static 'images/icons/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon"
              sizes="120x120"
              href="{% static 'images/icons/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon"
              sizes="144x144"
              href="{% static 'images/icons/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon"
              sizes="152x152"
              href="{% static 'images/icons/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon"
              sizes="180x180"
              href="{% static 'images/icons/apple-icon-180x180.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="192x192"
              href="{% static 'images/icons/android-icon-192x192.png' %}">
        <link rel="icon"
              type="image/png"
              sizes="32x32"
              href="{% static 'images/icons/favicon-32x32.png' %}">
        <link rel="icon"
              type="image/svg+xml"
              sizes="96x96"
              href="{% static 'images/icons/favicon-96x96.svg' %}">
        <link rel="icon"
              type="image/svg+xml"
              sizes="16x16"
              href="{% static 'images/icons/favicon-16x16.svg' %}">
        <link rel="manifest" href="{% static 'images/icons/manifest.json' %}">
        <link rel="icon" type="image/x-icon" href="{% static 'images/icons/favicon.ico' %}" sizes="any">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage"
              content="{% static 'images/icons/ms-icon-144x144.svg' %}">
        <meta name="theme-color" content="#ffffff">
        {# Global stylesheets #}
        <link rel="stylesheet"
              type="text/css"
              href="{% static 'uswds/css/styles.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}" />
        {# Icons #}
        <link href="{% static 'fontawesomefree/css/fontawesome.min.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/brands.min.css' %}"
              rel="stylesheet"
              type="text/css">
        <link href="{% static 'fontawesomefree/css/solid.min.css' %}"
              rel="stylesheet"
              type="text/css">
        {# Web Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789%26%24&family=Source+Sans+Pro:wght@400;700&display=swap"
              rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        <script defer type="text/javascript" src="{% static 'js/app.js' %}"></script>
        <script defer
                type="text/javascript"
                src="{% static 'uswds/js/uswds.min.js' %}"></script>
        <!-- you must load this before google analytics without a defer attribute -->
        <script src="{% static 'js/link-handler.js' %}"></script>
        {% include 'google_analytics.html' %}
        {% block extra_css %}{# Override this in templates to add extra stylesheets #}{% endblock %}
    </head>
    <body class="{% block body_class %}  {% endblock %}">
      {% if settings.home.GoogleTagManagerSettings.gtm_container_id %}
      <!-- Google Tag Manager (noscript) -->
      <noscript>
            <iframe
                  src="https://www.googletagmanager.com/ns.html?id={{ settings.home.GoogleTagManagerSettings.gtm_container_id }}"
                  height="0" width="0" style="display:none;visibility:hidden">
            </iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
      {% endif %}

      {% include 'banner.html' %}
      {% include 'red_news_banner.html' %}
      {% get_environment as environment %}
      {% if environment != "production" %}
      {% include 'alert_banner.html' %}
      {% endif %}
      {% include 'header.html' %}
      {% include 'includes/give_feedback_button.html' %}
      {% if page and page.show_floating_definitions_button %}
            {% include 'includes/definitions_button.html' %}
        {% endif %}

        {% if page and page.show_floating_definitions_button %}
            {% include 'includes/mini_definitions_button.html' %}
        {% endif %}
        {% include 'yellow_news_banner.html' %}
        <main id="main-content" >
            {% block content %}{% endblock %}
        </main>
        {% include 'footer.html' %}
        <button title="Scroll to top"
                id="scroll-to-top"
                type="button"
                class="usa-button width-auto fade-in">
            <img src="{% static 'uswds/img/usa-icons/arrow_drop_up.svg' %}"
                 role="img"
                 alt="scroll to top button"
                 aria-hidden="true" />
        </button>
        {# Global javascript #}
        {% block extra_js %}{# Override this in templates to add extra javascript #}{% endblock %}
        <script type="text/javascript">
            document.addEventListener("DOMContentLoaded", () => {
                  const last_navbar_menu_id = "last-nav-list";
                  const hiddenMenu = document.getElementById(last_navbar_menu_id);
                  const feedbackButtonToAdjust = document.querySelector(".give-feedback-btn");
                  const definitionsButtonToAdjust = document.querySelector(".definitions-btn");

                  const BUTTON_HEIGHT = 116;
                  const GAP_BETWEEN_BUTTONS = 20;
                  const GAP_FOR_FEEDBACK = 10;
                  const default_definitions_margin_top = (BUTTON_HEIGHT + GAP_FOR_FEEDBACK + GAP_BETWEEN_BUTTONS);
                  const default_feedback_margin_top = GAP_FOR_FEEDBACK;

                  if (!hiddenMenu) {
                      console.error(`Expected element w/ ID: ${last_navbar_menu_id}`);
                      return;
                  }

                  const get_full_height = (element) => {
                      const originalStyles = {
                          display: element.style.display,
                          visibility: element.style.visibility,
                          position: element.style.position,
                      };

                      element.style.display = 'block';
                      element.style.visibility = 'hidden';
                      element.style.position = 'absolute';

                      const height = element.offsetHeight;

                      element.style.display = originalStyles.display;
                      element.style.visibility = originalStyles.visibility;
                      element.style.position = originalStyles.position;

                      return height;
                  }
                  const dropdown_height = get_full_height(hiddenMenu);
                  feedbackButtonToAdjust.style.marginTop = `calc(${default_feedback_margin_top}px + ${dropdown_height}px)`;
                  if (definitionsButtonToAdjust) {
                      definitionsButtonToAdjust.style.marginTop = `calc(${default_definitions_margin_top}px + ${dropdown_height}px)`;
                  }
            });
        </script>
        <script type="text/javascript"
                src="https://lynmjtcq5px1.statuspage.io/embed/script.js"></script>
      <script>
            document.addEventListener("DOMContentLoaded", function() {
                  document.addEventListener("click", function(event) {

                  const header = event.target.closest(".accordion-header");

                  if (!header) return;

                  const accordionBlock = header.closest(".accordion-block");

                  const title = accordionBlock.querySelector(".accordion-title");
                  const content = accordionBlock.querySelector(".accordion-content");
                  const icon = accordionBlock.querySelector(".accordion-icon");
                  const button = accordionBlock.querySelector(".accordion-header-button");


                  content.classList.toggle("hidden");
                  icon.classList.toggle("rotated");
                  title.classList.toggle("active");
                  header.classList.toggle("active");
                  icon.classList.toggle("active");
                  button.classList.toggle("active");
                  });
            });
      </script>
    </body>
</html>
