{% load wagtailcore_tags %}

<div id="detailed-timeline-{{ block.id }}" class="detailed-timeline-rectangle">
    <div class="detailed-timeline-header">
        <div class="detailed-timeline-header-text">
            <div class="detailed-timeline-title-block">
                <h2>{{ block.value.title }}</h2>
            </div>
            {{ block.value.introduction|richtext }}
        </div>
        <div class="detailed-timeline-controls">
            <button type="button"
                    class="usa-button usa-button--outline detailed-timeline-control-button detailed-timeline-expand-button"
                    aria-expanded="false">
                <span class="detailed-timeline-expand-button-icon" aria-hidden="true"></span>
                <span class="detailed-timeline-expand-button-label">Expand All</span>
            </button>
            <button type="button"
                    class="usa-button usa-button--outline detailed-timeline-control-button detailed-timeline-print-button">
                <span class="detailed-timeline-print-button-icon" aria-hidden="true"></span>
                Print Detailed Timeline
            </button>
        </div>
    </div>
    <div class="detailed-timeline-phases-block bubble-line">
        {% for phase in block.value.phases %}
            <div class="detailed-timeline-phase bubble-circle">
                {% include "detailed_timeline_accordion_block.html" with block=phase block_index=forloop.counter0 suffix=block.id %}
            </div>
        {% endfor %}
    </div>
</div>
