{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% block extra_css %}
    <style>
        .detailed-timeline-title-block > h2 {
            font-size: 28px;
            font-weight: semibold;
            margin: 0px 0px 8px 0px;
        }
    </style>
{% endblock %}

<div class="detailed-timeline-rectangle">
    <div class="detailed-timeline-title-block">
        <h2>{{ block.value.title }}</h2>
    </div>

    {{ block.value.introduction|richtext }}
    <div class="detailed-timeline-phases-block">
        {% for phase in block.value.phases %}
            <div class="detailed-timeline-phase">
                {% include "detailed_timeline_accordion_block.html" with block=phase block_index=forloop.counter0 suffix="-accordion" %}
            </div>
        {% endfor %}
    </div>
</div>
