{% load static %}

{% load wagtailcore_tags %}

<footer>
  <div class="grid-container wide-container">
    <div class="grid-row">
      <div class="grid-col">
        <h3>Technical Questions?</h3>
        <p>
          {% with technicalQuestions=settings.home.Footer.technicalQuestions %}
            {{ technicalQuestions|richtext }}
          {% endwith %}
        </p>
      </div>
      <div class="grid-col">
        <h3>Other Questions?</h3>
        <p>
          {% with otherQuestions=settings.home.Footer.otherQuestions %}
            {{ otherQuestions|richtext }}
          {% endwith %}
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="footer-address">
  <div class="grid-container wide-container">
    <div class="content">
      <a href="/"><img class="seal" src="{% static 'images/seal.png' %}" /></a>

      <hr />

      <p>United States Tax Court</p>
      <p>400 Second Street, NW, Washington, DC 20217 | (202) 521-0700</p>
      <p>All Rights Reserved</p>
    </div>
  </div>
</div>
