{% load static %}
{% load wagtailcore_tags %}
<style>
    footer#app-footer .main {
        background: #005EA2;
        padding: 20px 0px;
        line-height: 1.6rem;
    }

    footer#app-footer .main .title {
        font-size: 1.4rem;
        font-family: var(--heading-font);
        font-weight: 600;
        line-height: 2rem;
        margin-bottom: 8px;
        -webkit-font-smoothing: antialiased;
    }

    footer#app-footer .footer-address {
        background: #1A4480;
        color: white;
        font-family: var(--font-family);
        text-align: center;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    footer#app-footer .footer-address .content {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
        gap: 20px;
        text-align: left;
    }

    footer#app-footer .footer-address .phone {
        white-space: nowrap;
        text-decoration: underline;
    }

    footer#app-footer .footer-address p {
        margin-bottom: 0px;
        margin-top: 4px;
        font-size: 17px;
    }

    footer#app-footer .footer-address hr {
        width: 100%;
        height: 1px;
        margin: 10px;
    }

    footer#app-footer .footer-address .seal {
        width: 100px;
    }

    footer#app-footer .footer-address .build-info {
        font-size: 0.8rem;
        margin-top: 8px;
    }

    footer#app-footer h2 {
        font-size: 20px;
        line-height: normal;
        color: white;
    }

    .main p{
        color: white;
    }
    .main a {
        color: white;
        font-weight: inherit;
        text-decoration: underline;
    }

    footer#app-footer p {
        margin-top: 0px;
    }
    .address {
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    .footer-address a {
        color: white;
        font-weight: inherit;
    }
    .footer-item-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        text-align: right;
    }
    .footer-time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
        max-width: 60ch;
        text-align: center;
    }
    @media (max-width: 1024px) {
        footer#app-footer .footer-address .content {
            grid-template-columns: 1fr;
            justify-items: center;
            gap: 40px;
            text-align: center;
        }

        .footer-item-container {
            flex-direction: column;
            gap: 20px;
            text-align: center;
        }
        .footer-time-container {
            align-items: center;
            text-align: center;
        }
        footer#app-footer .footer-time-container p {
            display: inline;
            margin: 0px;
            padding: 0px;
            font-size: 16px;
        }
        .court-hours {
            font-weight: bold;
        }
        .spacing-fix {
            display: block;
            height: 1em;
        }
    }
</style>
<footer id="app-footer">
    <div class="main">
        <div class="grid-container">
            <div class="grid-row grid-gap">
                <div class="grid-col-12 desktop:grid-col">
                    <h2>Questions?</h2>
                    <p>
                        {% with technicalQuestions=settings.home.Footer.technicalQuestions %}{{ technicalQuestions|richtext }}{% endwith %}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-address">
        <div class="grid-container">
            <div class="content">
                <div class="footer-item-container">
                    <a href="/">
                        <img alt="US Tax Court Logo"
                            class="seal"
                            src="{% static 'images/footer/ustc-seal.svg' %}" />
                    </a>
                    <div class="address">
                        <p class="font-heading">United States Tax Court<br>
                            <a href="https://www.google.com/maps/place/US+Tax+Court/@38.8951679,-77.0149345,17z/data=!3m1!4b1!4m6!3m5!1s0x89b7b788e9a932e5:0x33d2d11766456bca!8m2!3d38.8951679!4d-77.0149345!16zL20vMDVzZDE0?entry=ttu&g_ep=EgoyMDI1MDYxNy4wIKXMDSoASAFQAw%3D%3D">
                                <span style="color: white;">
                                    400 Second Street, NW<br>
                                    Washington, DC 20217
                                </span>
                            </a>
                    </p>
                    </div>
                </div>
                <div class="footer-time-container">
                <p> <span class="court-hours">Tax Court Hours of Operation:</span> 8 a.m. to 4:30 p.m. (EST)
                 on all days except Saturdays, Sundays, and
                 <a href="/holidays"> <span style="text-decoration: underline; color:white;">legal holidays</span> </a>
                    in the District of Columbia.
                </p>
                </div>
                <div class="footer-item-container">
                    <p>
                        <span class="phone"><a href="tel:+2025210700">(202) 521-0700</a></span><br>
                        All rights reserved
                    </p>
                    <a href="https://dawson.ustaxcourt.gov/">
                        <img alt="Dawson Logo"
                            class="dawson"
                            src="{% static 'images/footer/dawson-logo.svg' %}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
