{% with ga4_id=settings.home.googleanalyticssettings.tracking_id|default:settings.GOOGLE_ANALYTICS_ID %}
    <script>
        window.gaCallbacks = window.gaCallbacks || [];

        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', '{{ ga4_id }}');

        // More reliable way to know GA is fully initialized
        gtag('get', '{{ ga4_id }}', 'client_id', function() {
            window.gaCallbacks.forEach(callback => callback());
            window.gaCallbacks = [];
        });
    </script>
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ ga4_id }}"></script>
{% endwith %}
