{% load static wagtailcore_tags %}
{% load wagtailcore_tags navigation_tags %}

<header class="blue-banner">

  <div class="grid-container padding-1">
    <div class="usa-header__inner display-flex flex-justify flex-align-center">
      <a href="/">
        <img class="tablet:display-none logo-seal" src="{% static 'images/header/logo_seal.png' %}"
          alt="US Tax Court Logo" />
        <img class="display-none tablet:display-block" src="{% static 'images/header/logo.png' %}"
          alt="US Tax Court Logo" />
      </a>

      <a href="https://dawson.ustaxcourt.gov/">
        <img class="dawson" src="{% static 'images/header/dawson.png' %}"
          alt="Dawson Logo" /></a>
    </div>
  </div>
</header>

{% get_site_root as site_root %}
<div class="navigation-bar" data-testid="navigation-bar">
  <img class="nav-hamburger"
    alt="mobile menu hamburger icon"
    src="{% static 'images/header/hamburger.svg' %}" onclick="toggleHeaders()" />
  <ul class="navigation">
    {% for section in navigation_sections %}
    <li class="navigation-header">
      <a href="#" onclick="toggleMenuItems(this)">
        <div>{{ section.title }}
        <i class="ti ti-chevron-right"></i></div>
      </a>
      <ul class="navigation-list">
        {% for menuitem in site_root.get_children.live.in_menu %}
        {% if menuitem.specific.navigation_category == section.key %}
          {% if menuitem.specific.redirectLink %}
            <li class="nav-link">
              <a target="_blank" href="{{ menuitem.specific.redirectLink }}">
                <i class="ti ti-chevron-right"></i>
                {{ menuitem.specific.menu_item_name }}
              </a>
            </li>
          {% else %}
            <li class="nav-link">
              <a href="{% pageurl menuitem %}">
                <i class="ti ti-chevron-right"></i>
                {{ menuitem.specific.menu_item_name }}
              </a>
            </li>
          {% endif %}
        {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>
</div>

{% block extra_js %}
<script>
  function toggleHeaders() {
    const elements = document.getElementsByClassName("navigation-header");
    for (element of elements) {
      element.classList.toggle("displayed-navigation-header");
    }
  }
  function toggleMenuItems(element) {
    const elements = element.parentElement.getElementsByClassName("navigation-list");
    for (element of elements) {
      element.classList.toggle("displayed-navigation-list");
    }
  }
  document.querySelectorAll('.navigation-header').forEach(header => {
    header.addEventListener('keydown', event => {
        if (event.code === 'Space' || event.code === 'Enter') {
            event.preventDefault();
            const navigationList = header.querySelector('.navigation-list');
            if (navigationList && navigationList.childElementCount > 0) {
                navigationList.style.display = navigationList.style.display === 'flex' ? 'none' : 'flex';
                header.setAttribute('aria-expanded', navigationList.style.display === 'flex');
            }
        }
    });
});
</script>
{% endblock %}
