{% load wagtailcore_tags wagtailimages_tags %}
<div class="dedication dedication-{{ block.value.image_position|default:'left' }}">
    {% if block.value.title %}
        <h2 class="dedication-title">{{ block.value.title }}</h2>
    {% endif %}
    {% if block.value.photo %}
        <figure class="dedication-image" role="img" aria-label="{{ block.value.alt_text }}" tabindex="0">
            {% image block.value.photo width-600 alt=block.value.alt_text %}
        </figure>
    {% endif %}
    <div class="dedication-text">
        {{ block.value.paragraph_text|richtext }}
    </div>
</div>
