{% load wagtailcore_tags wagtailimages_tags %}
<div class="dedication dedication-{{ block.value.image_position|default:'left' }}">
    {% if block.value.title %}
        <h2 class="dedication-title">{{ block.value.title }}</h2>
    {% endif %}
    {% if block.value.photo %}
        {% image block.value.photo width-600 as photo_rendition %}
        <div class="dedication-image {% if photo_rendition.width > photo_rendition.height %}dedication-image--landscape{% endif %}">
            {% for link_item in block.value.link %}
                <a href="{% if link_item.block_type == 'external_url' %}{{ link_item.value }}{% elif link_item.block_type == 'internal_page' %}{% pageurl link_item.value %}{% elif link_item.block_type == 'internal_pdf' %}{{ link_item.value.url }}{% endif %}">
            {% endfor %}
            <img src="{{ photo_rendition.url }}" width="{{ photo_rendition.width }}" height="{{ photo_rendition.height }}" alt="{{ block.value.alt_text }}" tabindex="0" role="img">
            {% if block.value.link %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="dedication-text">
        {{ block.value.paragraph_text|richtext }}
    </div>
</div>
