{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load static %}
{% block extra_css %}
    <style>
        /* Rounded rectangle */
        .summary-timeline-rectangle {
            width: 100%;                 /* Scales with screen width */
            background-color: #E8F0FE;  /* Fill color */
            border-radius: 20px;        /* Rounded corners */
            margin: 32px 0 32px 0;
            padding: 0 24px 0 0;
            display: grid;
            grid-template-columns: min-content auto;
        }

        .summary-timeline-title-block {
            color: var(--color-navy);
            font-size: 16px;
            font-weight: bold;
            margin: 16px 16px 16px 24px;
            white-space: nowrap;
        }

        .summary-timeline-phases-block {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: start;
            align-items: center;
            gap: 0px 8px;
        }

        .summary-timeline-phase-content {
            border-radius: 8px;
            border-color: rgb(0, 94, 162, 0.3);
            border-width: 1px;
            border-style: solid;
            background-color: var(--color-white);
            margin: 8px 0px 8px 0px;
            padding: 8px;
        }

        .svg-icon {
            background-color: var(--color-navy);
            width: 20px;
            height: 20px;
            vertical-align: center;
            mask-image: url('/static/uswds/img/usa-icons/arrow_forward.svg');
            -webkit-mask-image: url('/static/uswds/img/usa-icons/arrow_forward.svg');
        }

        @media (max-width: 1200px) {
            .summary-timeline-rectangle {
                padding: 0 24px 16px 0;
                grid-template-columns: auto;
            }

            .summary-timeline-title-block {
                margin: 16px 16px 12px 24px;
            }

            .summary-timeline-phases-block {
                margin: 0px 0px 0px 24px;
            }
        }

        @media (max-width: 600px) {
            .summary-timeline-rectangle {
                padding: 0 0 16px 0;
            }

            .summary-timeline-phases-block {
                flex-direction: column;
                margin: 0px 24px 0px 24px;
                gap: 0px;
            }

            .summary-timeline-phase {
                width: 100%;
                text-align: center;
            }

            .svg-icon {
                mask-image: url('/static/uswds/img/usa-icons/arrow_downward.svg');
                -webkit-mask-image: url('/static/uswds/img/usa-icons/arrow_downward.svg');
            }
        }
    </style>
{% endblock %}

<div class="summary-timeline-rectangle">
    <div class="summary-timeline-title-block">
        {{ block.value.title }}:
    </div>
    <div class="summary-timeline-phases-block">
        {% for phase in block.value.phases %}
            {% if not forloop.first %}
                <span class="svg-icon" aria-hidden="true" ></span>
            {% endif %}
            <div class="summary-timeline-phase">
                <div class="summary-timeline-phase-content">
                    {{ phase.title }}: <b>{{ phase.date_range }}</b>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
