{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags i18n %}

{% block titletag %}{{ title }}{% endblock %}

{% block content %}
    {% include "wagtailadmin/shared/header.html" with title=title icon="user" %}

    <div class="nice-padding">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if is_assuming_role %}
            <div class="alert alert-warning" role="alert">
                You are currently assuming the role: <strong>{{ assumed_role_name }}</strong>.
                Your superuser privileges are temporarily inactive.
            </div>
            <form method="post" action="{% url 'switch_role' %}">
                {% csrf_token %}
                {{ revert_role_form }} {# For CSRF #}
                <button type="submit" name="revert_role" class="button">Revert to Original Permissions</button>
            </form>
            <hr>
            <p>To assume a different role, please revert to your original permissions first.</p>
        {% else %}
            <p>Select a role below to temporarily assume its permissions for testing purposes. Your superuser status will be temporarily disabled while assuming a role.</p>
            <form method="post" action="{% url 'switch_role' %}" class="form">
                {% csrf_token %}
                <ul class="fields">
                    {% for field in role_switch_form %}
                        <li>{% include "wagtailadmin/shared/field_as_li.html" %}</li>
                    {% endfor %}
                    <li>
                        <button type="submit" name="assume_role" class="button button-longrunning" data-clicked-text="Switching...">
                            <span class="icon icon-exchange"></span> Assume Selected Role
                        </button>
                    </li>
                </ul>
            </form>
        {% endif %}
    </div>
{% endblock %}