.alert-banner {
  background-color: #faf3cf;
  color: #000;
  font-weight: bold;
}

.alert-content{
  padding: 0;
  display: flex;
  justify-content: space-evenly;
}

.alert-banner p{
  margin-top: 0;
  margin-bottom: 0;
}

.alert-banner a {
  color: #000;
  text-decoration: underline;
}

.close-btn {
  cursor: pointer;
  border: none;
  background-color: #0000;
}

.alert-banner .close-btn:hover {
  color: #333
}
