/* ==========================================================================
   CSS Variables / Root Settings
   ========================================================================== */
:root {
    --dark-blue: rgb(18, 33, 64);
    --light-blue: rgba(0, 94, 162, 1.00);
    --faint-blue: rgba(0, 94, 162, 0.1);
    --medium-gray: rgb(240, 240, 240);
    --dark-gray: rgb(220, 222, 224);
    --link-hover-blue: #003256;
    --light-gray-hover: rgb(231, 231, 231);
    --faint-gray: #eee;
    --link-blue: rgb(0, 94, 162);
    --heading-font: "Noto Serif JP";
    --body-font: 'Source Sans Pro';
    --base-font-size: 17px;
    --container-width: 1440px;
}

body {
    -webkit-font-smoothing: antialiased;
}

/* ==========================================================================
   Typography
   ========================================================================== */
.font-heading {
    font-family: var(--heading-font);
}

body {
    line-height: 24px;
    font-family: var(--body-font);
    font-size: var(--base-font-size);
    -webkit-font-smoothing: antialiased;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: bold;
    line-height: 2rem;
    margin-bottom: 8px;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: 2rem;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 8.5px;
    line-height: 30px;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.563rem;
    font-family: 'Source Sans Pro';
}

h4 {
    font-size: 1.063rem;
    line-height: 1.5rem;
    font-family: 'Source Sans Pro';
}

/* Links */
a {
    color: var(--link-blue);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

a.font-normal {
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-blue);
}

.font-light-blue {
    color: var(--light-blue)
}

/* ==========================================================================
   Layout Components
   ========================================================================== */
/* Container Styles */
.grid-container {
    max-width: var(--container-width);
}

.wide-container {
    max-width: var(--container-width);
}


/* ==========================================================================
   UI Elements
   ========================================================================== */
/* Scroll to Top Button */
#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 10px;
}

#scroll-to-top img {
    filter: brightness(0) invert(1);
}

/* Fade Animation */
.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s;
}

.fade-in.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0s;
}

/* Dividers */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--faint-gray);
    margin: 1em 0;
    padding: 0;
}

.foundry-divider-simple {
    margin: 17px 0 17px 0;
    border-top: 1px solid var(--faint-gray);
    height: 0;
}


/* ==========================================================================
   Utility Classes
   ========================================================================== */
/* Link-styled Buttons */
button.link {
    all: unset;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
}

button.link:hover {
    text-decoration: none;
}


.links.unindented {
    padding-left: 0;
}

.links {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
        font-weight: normal;
    }
}

.blue-page-links-bar {
    display: flex;
    background-color: var(--light-blue);
    border-radius: 5px;
    gap: 10px;

    a {
        flex-grow: 1;
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-weight: normal;
        font-size: .9rem;
        padding: 16px;
    }

    a:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    i {
        color: white;
        font-size: 2rem;
    }
}
@media (min-width: 320px) and (max-width: 768px) {
    .blue-page-links-bar {
        gap: 5px;
        border-radius: 3px;
    }

    .blue-page-links-bar a .title {
        display: none !important;
    }

    .blue-page-links-bar a {
        gap: 5px;
        font-size: 0.8rem;
        padding: 12px 6px;
    }

    .blue-page-links-bar i {
        font-size: 20px;
    }
}


#home-page {
    .entries-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .entries-list .entry {
        border: 1px solid #BBB;
        padding: 0px 30px;
        padding-bottom: 40px;
    }

    .content {
        padding: 40px 0;
    }

    .carousel {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        max-height: 300px;
        overflow: hidden;
    }

    .hero-image {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: opacity 2s ease-in-out;
    }

    .hero-image.active {
        opacity: 1;
    }

    .label{
        margin-bottom: 0.5rem;
        border-radius: 0;
        background-color: green;
        display: inline-block;
        padding: .25em .4em;
        font-size: 75%;
        font-weight: bold;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }
}
