/* This is where any global related styles should be placed */

:root {
  --dark-blue: rgb(18, 33, 64);
  --light-blue: rgba(0, 94, 162, 1.00);
  --medium-gray: rgb(240, 240, 240);
  --dark-gray: rgb(220, 222, 224);
  --link-hover-blue: #003256;
  --link-blue: rgb(0, 94, 162);
  --heading-font: "Noto Serif JP";
  --body-font: 'Source Sans Pro';
  --base-font-size: 17px;
  --container-width: 1440px;
}

.font-heading {
    font-family: var(--heading-font);
}

body {
    line-height: 24px;
    font-family: var(--body-font);
    font-size: var(--base-font-size);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 8px;
}

h3 {
    font-size: 1.5rem;
}

a {
    color: var(--link-blue);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-blue);
}

/* ustc overrides */
.grid-container {
    max-width: var(--container-width);
}


/* custom */
.wide-container {
    max-width: var(--container-width);
}


#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 8px 10px;
}

#scroll-to-top img {
    filter: brightness(0) invert(1);
}

.fade-in {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0s 0.5s; /* Delay visibility to match opacity fade-out */
}

.fade-in.visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s ease, visibility 0s 0s; /* Immediate visibility when fading in */
}
