.card-related-pages-list {
    list-style-type: none;
    padding: 0;
}

.card-icon {
    text-align: center;
    font-size: 70px;
    padding-top: 5px;
    color: var(--light-blue);
}

.usa-card__container {
    border-width: 1px;
    border-radius: 0;
    transition: box-shadow 0.2s;

    .usa-card__header {
        text-align: center;

        h5 {
            font-size: 15px;
        }
    }
}

.usa-card__container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect on the outermost div */
}