.card-related-pages-list {
    list-style-type: none;
    padding: 0;
    font-size: smaller;
}

.card-icon {
    text-align: center;
    font-size: 70px;
    padding-top: 5px;
    color: var(--light-blue);
}

.usa-card-group {
    justify-content: center;

    .usa-card {
        margin-bottom: 1 !important;

        .usa-card__container {
            border-width: 1px;
            border-radius: 0;
            box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17);
            transition: box-shadow 0.2s;
            background-color: rgba(255, 255, 255, 1.00);

            .usa-card__header {
                text-align: center;

                h5 {
                    font-size: 15px;
                }
            }
        }

        .usa-card__container:hover {
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
        }
    }
}

.dedication {
    padding-bottom: 2em;
    gap: 1rem;

    .dedication-image {
        float: left;
        flex-shrink: 0;
        padding-top: 1em;
        padding-right: 1em;
        padding-left: 1em;
        padding-bottom: 1em;
        img {
            border-style: none;
            margin: 0;
            border: 1px solid rgba(0, 0, 0, 1.00);
            box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.33);
        }
    }

    .dedication-text {
        flex: 1;

        h2 {
            margin: 8px 0;
        }
    }

}
