/* styles related to the header */

.blue-banner {
    background-color: var(--dark-blue);
}

.blue-banner .dawson {
    width: 60px;
}

.logo-seal {
    width: 70px;
}

/* universal styles */
.navigation {
    border: solid var(--light-blue);
    background-color: #f2f4f4;
    border-width: 5px 0px 1px 0px;
    padding: 0px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 52px;
    display: flex;
    align-items: center;

    .navigation-header {
        .nav-header-icon {
            height: 12px;
        }

        .navigation-list {
            display: none;
            list-style-type: none;
            background-color: var(--light-blue);

            .nav-link {
                color: #FFFFFF;
                font-weight: bold;

                a {
                    color: #FFFFFF;
                }
            }
        }
    }
}

/* styles for larger screens - i.e. laptops */
@media (min-width: 854px) {
    .nav-hamburger {
        height: 16px;
        display: none;
    }

    .navigation {
        gap: 40px;
        list-style-type: none;

        .navigation-header {
            height: 55px;
            display: flex;
            align-items: center;

            &:hover {
                .navigation-list:has(li) {
                    display: flex;
                }
            }

            .navigation-list {
                padding-inline-start: 5px;
                position: absolute;
                top: 198px;
                min-width: 320px;
                z-index: 500;
                flex-direction: column;
                padding: 10px;

                .nav-link {
                    padding: 4px;

                    a {
                        padding: 3px 10px;
                    }
                }
            }
        }
    }
}

/* styles for smaller screens - i.e. cell phones */
@media (max-width: 853px) {
    .navigation-bar {
        border: solid var(--light-blue);
        background-color: #f2f4f4;
        border-width: 5px 0px 1px 0px;
        display: flex;
        flex-direction: column;
        align-items: normal;
        justify-content: center;

        .nav-hamburger {
            display: flex;
            height: 24px;
            margin: 10px;
        }

        .navigation {
            flex-direction: column;
            gap: 0px;
            border-width: 0;
            min-height: 0;

            .navigation-header {
                display: none;
                background-color: #efefef;

                .navigation-list {
                    display: none;
                }
            }

            .navigation-header.displayed-navigation-header {
                display: flex;
                flex-direction: column;
                width: 100%;
                line-height: 44px;
                padding: 0 20px;

                .navigation-list {
                    display: none;
                }

                .navigation-list.displayed-navigation-list {
                    display: flex;
                    flex-direction: column;
                    padding-left: 10px;
                }
            }
        }
    }
}
