

.entries-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.entries-list .entry {
    border: 1px solid #BBB;
    padding: 0px 30px;
    padding-bottom: 40px;
}

.content {
    padding: 40px 0;
}
