
.entries-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.entries-list .entry {
    border: 1px solid #BBB;
    padding: 0px 30px;
    padding-bottom: 40px;
}

.content {
    padding: 40px 0;
}

.hero-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
    /* -160 is for the building_far.png image */
    object-position: center -160px; /* Offsets the image content up by 50px */
}

.carousel {
    display: flex;
    width: 100%;
}
