{% load wagtailcore_tags %}
{% load filters %}
{% load wagtailimages_tags %}
{% if list_type == 'ordered' %}
    <ol class="nested-list">
    {% elif list_type == 'checkbox' or list_type == 'checkbox_with_subtext' %}
        <ul class="nested-list checkbox-list">
    {% else %}
        <ul class="nested-list">
        {% endif %}
        {% for item in items %}
            <li {% if list_type == 'checkbox' or list_type == 'checkbox_with_subtext' %}class="{% if item.subtext %}has-subtext{% endif %}"{% endif %}>
                {% if list_type == 'checkbox' or list_type == 'checkbox_with_subtext' %}
                    <label class="checkbox-label-container{% if item.disabled %} is-disabled{% endif %}">
                        <input type="checkbox"{% if item.disabled %} disabled data-static-disabled="true" aria-disabled="true"{% endif %}>
                        <div class="list-item-content">
                            {% if item.text %}{{ item.text|richtext }}{% endif %}
                            {% if item.subtext %}{{ item.subtext|richtext }}{% endif %}
                        </div>
                    </label>
                {% else %}

                <div class="list-item-content">
                    {% if item.text %}{{ item.text|richtext }}{% endif %}
                </div>
                {% endif %}

                {% if item.image %}
                    {% picture item.image format-jpeg width-1000 loading="lazy" %}
                {% endif %}
                {% if item.nested_list %}
                    {% for nested in item.nested_list %}
                        {% include "home/_recursive_list.html" with list_type=nested.list_type items=nested.items %}
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
        {% if list_type == 'ordered' %}
        </ol>
    {% else %}
    </ul>
{% endif %}
