{% extends 'base.html' %}

{% load wagtailcore_tags %}
{% load static %}

{% block content %}
<div class="grid-container padding-top-2 padding-bottom-2">
    <h1 data-testid="page-title">{{ page.title }}</h1>
    <hr class="foundry-divider-simple">
    <div data-testid="page-body">
        {{ page.body|richtext }}
    </div>
    {% if page.document %}
        <hr/>
        <p>
            <i class="ti ti-file-type-pdf margin-right-1 font-light-blue"></i>
            <a href="{{ page.document.url }}" class="font-normal" data-testid="citation-style-manual-pdf">
                {{ page.document.title }}
            </a>
        </p>
    {% endif %}
</div>
{% endblock %}
