{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load filters %}
{% load static %}
{% block extra_css %}
    <style>
        .enhanced-page {

            .None {
                display: none;
            }

            .links {
                i {
                    padding-right: .4em
                }

                &.with-bullets {
                    list-style-type: disc;
                    padding-left: 40px;
                }
            }

            .heading-wrapper {
                gap: 4px;
                position: relative;

                .bookmark {
                    position: absolute;
                    left: -30px;
                    flex-shrink: 0;
                    top: 4px;
                }
            }

            .question-answer-block {
                display: flex;
                position: relative;

                .bookmark {
                    position: absolute;
                    left: -22px;
                    top: 24px;
                }
            }

            .usa-button {
                width: 95%;
                margin-top: 0.5em;
                margin-bottom: 0.5em;
                display: block;
                font-weight: normal;
                font-size: 17px;
                line-height: 24px;
            }

            .dedication {
                gap: 1rem;

                .dedication-image {
                    width: 480px;
                    float: right;
                    display: block;
                    padding: 20px 10px 20px 10px;

                    img {
                        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.33);
                        width: 100%;
                        height: auto;
                        display: inline-block;
                        margin-bottom: 21px;
                    }
                }

                .dedication-text {
                    flex: 1;
                    font-size: 17px;

                    .title {
                        font-weight: bold;
                    }
                }
            }

            #video-container {

                .video-desc-block {
                    margin-top: 2em;
                    padding: 40px;
                    background-color: rgba(255, 255, 255, 1.00);
                    border-radius: 0px;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.33);
                    display: flex;
                    align-items: flex-start;
                    gap: 20px;
                }

                .video-container iframe {
                    border: none;
                    width: 640px;
                    height: 360px;
                    border-width: 2px;
                    border-style: inset;
                }

                .description-block {
                    margin-top: -20px;

                    p {
                        margin-left: 40px;
                    }

                    blockquote {
                        font-size: 17px;
                        line-height: 24px;
                        padding: 0.5rem 1rem;
                        margin-bottom: 1rem;
                        border-left: 0.25rem solid #eceeef;

                        cite {
                            display: block;
                            font-size: 17px;
                            color: #1b1b1b;
                            font-style: italic;
                        }
                    }
                }
            }

            #enhanced-table {
                width: 100%;
                border-collapse: collapse;
                margin: 1rem 0;

                th:not([scope="row"]) {
                    /* Only apply blue to header cells that aren't in the first column */
                    background-color: #005EA2;
                    /* USWDS dark blue */
                    color: white;
                }

                th,
                td {
                    padding: 1rem;
                    text-align: left;
                    border: 1px solid #dfe1e2;
                    vertical-align: top;
                }

                tr:nth-child(even) {
                    background-color: #f0f0f0;
                }

                tr:nth-child(odd) {
                    background-color: white;
                }
            }

            .table-container {
                width: 100%;
                margin: 1rem 0;
            }

            @media (max-width: 740px) {
                .table-container {
                    overflow-x: auto;
                    -webkit-overflow-scrolling: touch;
                }

                #enhanced-table {
                    margin: 0;
                    min-width: 740px;
                }
            }

            .info-cards {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 1rem;
                margin: 1rem 0;
            }

            .info-card {
                padding: 1.5rem;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                gap: 0.75rem;
                position: relative;
                border: none;

                &.green {
                    background-color: #ecf3ec;
                }

                &.yellow {
                    background-color: #fef0c8;
                }

                .card-header {
                    display: flex;
                    flex-direction: column;
                    gap: 0.75rem;
                    margin-bottom: 0.5rem;
                    position: relative;

                    i {
                        background: #1b1b1b;
                        color: white;
                        width: 48px;
                        height: 48px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 1.25rem;
                        margin: 0 auto;
                    }

                    .title {
                        font-size: 24px;
                        font-weight: bold;
                        text-align: left;
                    }
                }

                .description {
                    font-size: 17px;
                    line-height: 1.4;
                    text-align: left;
                }
            }

            @media (max-width: 1024px) {
                .enhanced-page {
                    .question-answer-block {
                        .bookmark {
                            top: 24px;
                            left: -4px;
                        }

                        h3,
                        h4,
                        h5,
                        h6 {
                            padding-left: 16px;
                        }
                    }

                    .heading-wrapper {
                        .bookmark {
                            left: -12px;
                        }

                        h2,
                        h3,
                        h4,
                        h5,
                        h6 {
                            padding-left: 16px;
                        }
                    }
                }
            }

            @media (max-width: 768px) {
                .info-cards {
                    grid-template-columns: 1fr;
                }

                .enhanced-page .dedication .dedication-text {
                    blockquote {
                        margin: 15px;
                    }
                }

                .enhanced-page #video-container {
                    .video-desc-block {
                        flex-direction: column;
                        padding: 20px;
                        gap: 10px;
                    }

                    .video-container iframe {
                        width: 280px;
                        height: 250px;
                        margin-left: -15px;
                    }

                    .description-block {
                        margin-left: -38px;

                        p {
                            margin-left: 28px;
                        }

                        blockquote {
                            margin: 15px;
                        }
                    }
                }
            }
        }

        @media (max-width: 768px) {
            .enhanced-page .dedication .dedication-text {
                blockquote {
                    margin: 15px;
                }
            }
        }
    </style>
{% endblock %}
{% block body_class %}template-standard_page{% endblock %}
{% block content %}
    <div class="enhanced-page grid-container padding-bottom-2 padding-top-2">
        <h1 data-testid="page-title">{{ page.title }}</h1>
        <hr />
        {% if page.navigation_ribbon %}
            <div class="blue-page-links-bar">
                {% for link in page.navigation_ribbon.links.all %}
                    <a href="{{ link.url }}" aria-label="{{ link.title }}">
                        <i class="{{ link.icon }}" aria-hidden="true"></i>
                        <div class="title" style="display: block;">{{ link.title }}</div>
                    </a>
                {% endfor %}
            </div>
        {% endif %}
        {% for block in page.body %}
            {% with page_url=page.url|strip_trailing_slash %}
                {% if block.block_type == 'h2' %}
                    <h2>{{ block.value }}</h2>
                {% elif block.block_type == 'h3' %}
                    <h3>{{ block.value }}</h3>
                {% elif block.block_type == 'h4' %}
                    <h4>{{ block.value }}</h4>
                {% elif block.block_type == 'heading' %}
                    <div class="heading-wrapper">
                        <{{ block.value.level }}
                        {% if block.value.id %}id="{{ block.value.id }}"{% endif %}
                        >
                        {% if block.value.id %}
                            <a href="{{ page_url }}#{{ block.value.id }}"
                               title="{{ block.value.text }}">
                                <div class="fa-solid fa-bookmark bookmark" id="{{ block.value.id }}"></div>
                            </a>
                        {% endif %}
                        {{ block.value.text }}
                        </{{ block.value.level }}>
                    </div>
                {% elif block.block_type == 'paragraph' %}
                    <p data-testid="page-body-paragraph">{{ block.value }}</p>
                {% elif block.block_type == 'snippet' %}
                    {{ block.value.text |safe }}
                {% elif block.block_type == 'image' %}
                    <img src="{{ block.value.url }}" alt="{{ block.value.alt }}">
                {% elif block.block_type == 'hr' %}
                    <hr />
                {% elif block.block_type == 'table' %}
                    <div class="table-container">
                        <table id="enhanced-table">
                            {% if block.value.caption %}<caption>{{ block.value.caption }}</caption>{% endif %}
                            <thead>
                                <tr>
                                    {% for col in block.value.columns %}<th scope="col">{{ col.heading }}</th>{% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in block.value.rows %}
                                    <tr>
                                        {% for value in row %}<td>{{ value }}</td>{% endfor %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% elif block.block_type == 'links' %}
                    {% include "home/links_block.html" with block=block %}
                {% elif block.block_type == 'questionanswers' %}
                    <ul class="links indented">
                        {% for q in block.value %}
                            <li>
                                <a href="{{ page_url }}#{{ q.anchortag }}">
                                    <i class="fa-solid fa-circle-info"></i>{{ q.question }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                    <hr />
                    {% for q in block.value %}
                        <div class="question-answer-block">
                            <a href="{{ page_url }}#{{ q.anchortag }}" title="{{ q.question }}">
                                <div class="fa-solid fa-bookmark bookmark" id="{{ q.anchortag }}"></div>
                            </a>
                            <h3>{{ q.question }}</h3>
                        </div>
                        <div>{{ q.answer|richtext }}</div>
                        <hr />
                    {% endfor %}
                {% elif block.block_type == "photo_dedication" %}
                    <div class="dedication">
                        {% if block.value.photo %}
                            <div class="dedication-image">{% image block.value.photo width-600 alt=block.value.alt_text %}</div>
                        {% endif %}
                        <div class="dedication-text">
                            <h2 class="title">{{ block.value.title }}</h2>
                            {{ block.value.paragraph_text | richtext }}
                        </div>
                    </div>
                {% elif block.block_type == 'embedded_video' %}
                    <hr />
                    <div id="video-container">
                        <h2>{{ block.value.title }}</h2>
                        <div class="video-desc-block">
                            <div class="video-container">
                                <iframe title="Victor Lundy:Sulptor of Space"
                                        src="{{ block.value.video_url }}"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="description-block">
                                <p>{{ block.value.description }}</p>
                            </div>
                        </div>
                    </div>
                {% elif block.block_type == 'columns' %}
                    {% with column_count=block.value.column|length %}
                        <div class="grid-row">
                            {% for column in block.value.column %}
                                <div class="grid-col-12 tablet:grid-col-{{ column_count|column_width }}">
                                    {% for sub_block in column %}
                                        {% if sub_block.block_type == 'h2WithAnchorTag' %}
                                            <h2 id="{{ sub_block.value.anchortag }}">{{ sub_block.value.text }}</h2>
                                        {% elif sub_block.block_type == 'h2' %}
                                            <h2>{{ sub_block.value }}</h2>
                                        {% elif sub_block.block_type == 'h3' %}
                                            <h3>{{ sub_block.value }}</h3>
                                        {% elif sub_block.block_type ==  'hr' %}
                                            <hr />
                                        {% elif sub_block.block_type == 'clickableButton' %}
                                            <a href="{{ sub_block.value.url }}" class="usa-button">{{ sub_block.value.text }}</a>
                                        {% elif sub_block.block_type == 'links' %}
                                            {% include "home/links_block.html" with block=sub_block %}
                                        {% elif sub_block.block_type == 'judgeCollection' %}
                                            {% with judge_collection=sub_block.value %}
                                                {% for ordered_judge in judge_collection.ordered_judges.all %}
                                                    <a href="{{ page.url }}{{ ordered_judge.judge.id}}/{{ ordered_judge.judge.last_name|lower }}"
                                                       class="usa-button">{{ ordered_judge.judge.display_name }}</a>
                                                {% endfor %}
                                            {% endwith %}
                                        {% else %}
                                            <p>Column type not recognized: {{ sub_block.block_type }}</p>
                                            {{ sub_block.value }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endwith %}
                {% elif block.block_type == 'card' %}
                    <div class="info-cards">
                        {% for card in block.value %}
                            <div class="info-card {{ card.color }}">
                                <div class="card-header">
                                    <i class="{{ card.icon }}" aria-hidden="true"></i>
                                    <div class="title">{{ card.title }}</div>
                                </div>
                                <div class="description">{{ card.description|richtext }}</div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Block type not recognized: {{ block.block_type }}</p>
                    {{ block.value }}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
{% endblock content %}
