{% extends 'base.html' %}

{% load wagtailcore_tags %}
<!-- {% load custom_icons %} -->

{% load static %}

{% block body_class %}
  template-standard_page
{% endblock %}

{% block content %}
<div class="grid-container padding-bottom-2 padding-top-2">
  <h1>{{ page.title }}</h1>
  <hr >

  {% if page.blue_navigation_bar %}
    <div class="blue-page-links-bar">
        {% for link in page.blue_navigation_bar.links.all %}
            <a href="{{ link.url }}"><i class="{{ link.icon }}"></i><div>{{ link.title }}</div></a>
        {% endfor %}
    </div>
  {% endif %}

  {% for block in page.body %}
    {% if block.block_type == 'heading' %}
        <h2>{{ block.value }}</h2>
    {% elif block.block_type == 'h3' %}
        <h3>{{ block.value }}</h3>
    {% elif block.block_type == 'h4' %}
        <h4>{{ block.value }}</h4>
    {% elif block.block_type == 'paragraph' %}
        <p>{{ block.value }}</p>
    {% elif block.block_type == 'image' %}
        <img src="{{ block.value.url }}" alt="{{ block.value.alt }}">
    {% elif block.block_type == 'hr' %}
        <hr />
    {% elif block.block_type == 'links' %}
        <ul class="links {{ block.value.class }}">
            {% for link in block.value.links %}
                {% if link.document %}
                    <li><a href="{{ link.document.url }}"><i class="{{ link.icon }}"></i> {{ link.title }}</a></li>
                {% else %}
                    <li><a href="{{ link.url }}"><i class="{{ link.icon }}"></i> {{ link.title }}</a></li>
                {% endif %}
            {% if block.value.url %}
            <li><a href="{{ block.value.url }}"><i class="{{ block.value.icon }}"></i> {{ block.value.title }}</a></li>
        {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
  {% endfor %}
</div>

{% endblock content %}
