{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}
{% block body_class %}template-homepage{% endblock %}
{% block extra_css %}
    {% comment %}Delete the line below if you're just getting started and want to remove the welcome screen!{% endcomment %}
    <link rel="stylesheet" href="{% static 'css/home_page.css' %}" />
{% endblock %}
{% block extra_js %}
    <script>
        const rotationPeriod = 5000

        function rotateImages() {
            const images = document.querySelectorAll('.hero-image')
            let currentIndex = 0

            setInterval(() => {
                images.forEach((img) => img.classList.remove('active'))
                currentIndex = (currentIndex + 1) % images.length
                images[currentIndex].classList.add('active')
            }, rotationPeriod)
        }

        document.addEventListener('DOMContentLoaded', rotateImages)
    </script>
{% endblock %}
{% block content %}
    <div class="carousel">
        {% for picture in page.images.all %}
            {% image picture.image fill-2000x400-c80  as myrendition %}
            <img src="{{ myrendition.url }}"
                 alt="{{ myrendition.title }}"
                 class="hero-image {% if forloop.first %}active{% endif %}"
                 {% if myrendition.focal_point %} data-focus-x="{{ myrendition.focal_point.centroid.x }}" data-focus-y="{{ myrendition.focal_point.centroid.y }}" data-focus-width="{{ myrendition.focal_point.width }}" data-focus-height="{{ myrendition.focal_point.height }}" {% endif %} />
        {% endfor %}
    </div>
    <div class="grid-container">
        <div class="content">
            <div class="text-xs-left">
                <span class="label">NOTEWORTHY</span>
            </div>
            <div class="entries-list">
                {% for entry in page.entries.all|dictsort:"order" %}
                    {% if entry.end_date == None or entry.end_date >= today %}
                        <div class="entry shadow-2">
                            {% if entry.title %}
                                <h3>{{ entry.title| richtext }}</h3>
                            {% else %}
                                <br />
                            {% endif %}
                            <div>{{ entry.body| richtext }}</div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
