{% extends 'base.html' %}

{% load wagtailcore_tags %}

{% load static %}

{% block body_class %}
  template-homepage
{% endblock %}

{% block extra_css %}
  {% comment %}Delete the line below if you're just getting started and want to remove the welcome screen!{% endcomment %}
  <link rel="stylesheet" href="{% static 'css/home_page.css' %}" />
{% endblock %}

{% block content %}
  <img src="{% static 'images/building.jpg' %}" />

  <div class="grid-container">
    <div class="content">
      <div class="entries-list">
        {% for entry in page.entries.all %}
          <div class="entry shadow-2">
            <h3>{{ entry.title }}</h3>
            <div>{{ entry.body|richtext }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
