{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% block content %}
    <style>
        #vacany-page {
            min-height: 40vh;

            .closing-date {
                color: #b50909;
                font-weight: bold;
            }
        }
    </style>
    <div id="vacany-page" class="grid-container usa-prose margin-top-5">
        <div class="content">
            <h1 class="margin-bottom-3">{{ page.title }}</h1>
            <hr />
            {% if judges_recruiting %}
                <div class="usa-card-group">
                    {% for judge in judges_recruiting %}
                        <section class="usa-card">
                            <div class="usa-card__container">
                                <header class="usa-card__header" style="text-align: center;">
                                    <h2 class="usa-card__heading">{{ judge.judge_name|richtext }}</h2>
                                </header>
                                <div class="usa-card__body">
                                    <p>{{ judge.description|richtext }}</p>
                                </div>
                                <div class="usa-card__footer">
                                    <a class="usa-button" href="mailto:{{ judge.apply_to_email }}">Apply</a>
                                </div>
                            </div>
                        </section>
                    {% endfor %}
                </div>
            {% else %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
