{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load filters %}
{% load static %}
{% block body_class %}template-judge-detail{% endblock %}
{% block content %}
    <div class="grid-container padding-bottom-2 padding-top-2">
        <h1>{{ judge.title }} {{ judge.display_name }}</h1>
        {% if judge.chambders_telephone %}
            <div class="contact-info margin-bottom-2">
                <p>
                    <strong>Chambers Telephone:</strong> {{ judge.chambders_telephone }}
                </p>
            </div>
        {% endif %}
        <h2>Biography</h2>
        <div class="judge-bio">{{ judge.bio|richtext }}</div>
    </div>
{% endblock %}
