<ul class="links {{ block.value.class }}">
    {% for link in block.value.links %}
        {% if link.document %}
            <li>
                <a href="{{ link.document.url }}"
                   data-testid="document-link"
                   title="{{ link.title }}"><i class="{{ link.icon }}"></i> {{ link.title }}</a>
            </li>
        {% elif link.video %}
            <li>
                <a href="{{ link.document.url }}" target="_blank"  onclick="openVideoWindow(event, '{{ link.document.url}}')"
                   data-testid="document-link"
                   title="{{ link.title }}"><i class="{{ link.icon }}"></i> {{ link.title }}</a>
            </li>
            <!-- <div>
                <div id="video-container-{{ link.document.id }}" style="display: none;">
                    <video width="560" height="315" controls id="video-{{ link.document.id }}">
                        <source src="video-{{ link.document.url }}" type="video/mp4">
                    </video>
                </div>
            </div> -->

            <script>
                function openVideoWindow(event, videoUrl){
                    event.preventDefault();
                    var videoWindow = window.open(videoUrl, '_blank', 'width=800,height=450,resizable=yes,scrollbars=no');
                    videoWindow.document.write(`
                        <html>
                        <head>
                            <title>Video Player</title>
                            <style>
                                body {margin:0; background: black; display: flex; justify-content: center; height: 100vh;}
                                video { max-width: 100%; max-height: 100%;}
                            </style>
                        </head>
                        <body>
                            <video controls autoplay>
                                <source src="${videoUrl}" type="video/mp4">
                                Your browser does not support the video tag
                            </video>
                        </body>
                        </html>
                    `);
                    videoWindow.document.close();
                    // var videoContainer = document.getElementById(containerId);
                    // videoContainer.style.display = "block";
                    // var video = videoContainer.querySelector("video");
                    // video.play();
                }
            </script>
        {% elif link.text_only %}
            <li>
                <i class="{{ link.icon }}"></i> {{ link.title }}
            </li>
        {% else %}
            <li>
                {% if link.url %}
                    <a href="{{ link.url }}" title="{{ link.title }}"><i class="{{ link.icon }}"></i> {{ link.title }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
