<ul class="links {{ block.value.class }}">
    {% for link in block.value.links %}
        {% if link.document %}
            <li>
                <a href="{{ link.document.url }}"
                   data-testid="document-link"
                   title="{{ link.title }}">
                    <span class="material-symbols-outlined" aria-hidden="true">
                        {{ link.icon }}
                    </span>
                    {{ link.title }}
                </a>
            </li>
        {% elif link.video %}
            <li>
                <a href="{{ link.video.url }}"
                   data-testid="document-link"
                   target="_blank"
                   title="{{ link.title }}">
                   <span class="material-symbols-outlined" aria-hidden="true">
                     {{ link.icon }}
                    </span>
                    {{ link.title }}
                </a>
            </li>
        {% elif link.text_only %}
            <li>
                <span class="material-symbols-outlined" aria-hidden="true">
                    {{ link.icon }}
                </span>
                {{ link.title }}
            </li>
        {% else %}
            <li>
                {% if link.url %}
                    <a href="{{ link.url }}" title="{{ link.title }}">
                        <span class="material-symbols-outlined" aria-hidden="true">
                            {{ link.icon }}
                        </span>
                        {{ link.title }}</a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
</ul>
