{% extends 'base.html' %}
{% load static wagtailcore_tags %}
{% block extra_css %}
    <style>
        .custom-button-archive {
            margin-bottom: 50px;
            width: 110px;
        }

        .custom-button-archive a {
            text-align: left;
        }

        .category-high {
            background-color: #f5f5bbff;
            font-weight: bold;
            padding: 0 0.1rem;
        }

        .category-critical {
            background-color: #FF6863;
            font-weight: bold;
            padding: 0 0.1rem;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="grid-container padding-bottom-2 padding-top-2">
        <h1 class="page-title">
            {{ page.title }}
            <hr>
        </h1>
        {% include "includes/enhanced_body.html" %}
        {% for year, releases in press_releases_by_year.items %}
            <h2 class="title">{{ year }}</h2>
            <ul>
                {% for release in releases %}
                    {% if release.is_homepage_entry %}
                        <li class="margin-bottom-2">
                            <a
                                href="#modal-{{ release.id }}"
                                aria-controls="modal-{{ release.id }}"
                                style="text-decoration: underline"
                                data-open-modal>
                                <strong>{{ release.release_date|date:"m/d/Y" }}</strong>
                            </a>
                            <div
                                class="usa-modal maxw-none"
                                id="modal-{{ release.id }}"
                                aria-labelledby="modal-{{ release.id }}-heading"
                                aria-describedby="modal-{{ release.id }}-description"
                            >
                                <div class="usa-modal__content margin-0 padding-left-4 padding-bottom-4 padding-right-4">
                                    <div class="usa-modal__main margin-0 padding-0">
                                        <h1 id="modal-{{ release.id }}-heading">{{ release.title }} ({{ release.release_date|date:"m/d/Y" }})</h1>
                                        <p id="modal-{{ release.id }}-description">{{ release.body | safe }}</p>
                                    </div>
                                    <button
                                        type="button"
                                        class="usa-button usa-modal__close"
                                        aria-label="Close this window"
                                        data-close-modal
                                    >
                                        <svg class="usa-icon" aria-hidden="true" focusable="false" role="img">
                                            <use href="{% static 'images/close.svg' %}"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            -
                            {% if release.category %}
                              <span class="category-{{ release.category|lower }}">{{ release.category|title }}</span>
                            {% endif %}
                            <span>{{ release.details.description }}</span>
                        </li>
                    {% else %}
                        <li class="margin-bottom-2">
                            {% if release.details.file %}
                                <a href="{{ release.details.file.url }}"
                                   style="text-decoration: underline">
                                    <strong>{{ release.release_date|date:"m/d/Y" }}</strong>
                                </a>
                            {% else %}
                                <strong>{{ release.release_date|date:"m/d/Y" }}</strong>
                            {% endif %}
                            -
                            {% if release.is_banner %}
                              {# For banners: highlighted label, bolded title, then body text (not bolded) #}
                              <span class="category-{{ release.banner_type|lower }}">{{ release.banner_label }}</span>
                              <strong>{{ release.banner_title }}</strong> {{ release.banner_body|striptags }}
                            {% else %}
                              {# For regular news items, show category if present #}
                              {% if release.category %}
                                <span class="category-{{ release.category|lower }}">{{ release.category|title }}</span>
                              {% endif %}
                              {{ release.details.description }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}


        {% if not is_archive %}
            <hr>
            <div class="custom-button-archive">
                <a href="{{ page.url }}archives/"
                   class="custom-button usa-button btn-primary">Archive</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
