{% block extra_css %}
    <style>
        .custom-button-archive {
            margin-bottom: 50px;
            a{
                text-align: left;
                width: 7% !important;
            }
        }
    </style>
{% endblock %}
{% for year, releases in press_releases_by_year.items %}
    <h3 class="title">{{ year }}</h3>
    <ul class="press-release-list">
        {% for release in releases %}
            {% if release.details %}
                <li>
                    {% if release.details.file %}
                        <a href="{{ release.details.file.url }}">
                            <strong>{{ release.release_date|date:"m/d/Y" }}</strong>
                        </a>
                    {% else %}
                        <strong>{{ release.release_date|date:"m/d/Y" }}</strong>
                    {% endif %}
                    — {{ release.details.description }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if not forloop.last %}
    <hr>
    {% endif %}
{% endfor %}
{% if not is_archive %}
    <hr>
<div class="custom-button-archive">
    <a href="{{ page.url }}archives/"
       class="custom-button usa-button btn-primary">Archive</a>
</div>
{% endif %}
