{# filepath: /path/to/your/templates/render_block.html #}
{% if block.block_type == 'h2' %}
    <h2>{{ block.value }}</h2>
{% elif block.block_type == 'h3' %}
    <h3>{{ block.value }}</h3>
{% elif block.block_type == 'paragraph' %}
    <p>{{ block.value }}</p>
{% elif block.block_type == 'image' %}
    <img src="{{ block.value.url }}" alt="{{ block.value.alt }}">
{% elif block.block_type == 'hr' %}
    <hr />
{% elif block.block_type == 'links' %}
    <ul class="links {{ block.value.class }}">
        {% for link in block.value.links %}
            {% if link.document %}
                <li>
                    <a href="{{ link.document.url }}" data-testid="document-link" title="{{ link.title }}">
                        <i class="{{ link.icon }}"></i> {{ link.title }}
                    </a>
                </li>
            {% else %}
                <li>
                    {% if link.url %}
                        <a href="{{ link.url }}" title="{{ link.title }}">
                            <i class="{{ link.icon }}"></i> {{ link.title }}
                        </a>
                    {% endif %}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% elif block.block_type == 'questionanswers' %}
    {% with page_url=page.url|strip_trailing_slash %}
        <ul class="links indented">
            {% for q in block.value %}
                <li>
                    <a href="{{ page_url }}#{{ q.anchortag }}">
                        <i class="ti ti-info-circle-filled"></i>{{ q.question }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <hr />
        {% for q in block.value %}
            <div class="question-answer-block">
                <a href="{{ page_url }}#{{ q.anchortag }}" title="{{ q.question }}">
                    <div class="ti ti-bookmark-filled bookmark" id="{{ q.anchortag }}"></div>
                </a>
                <h3>{{ q.question }}</h3>
            </div>
            <div>{{ q.answer|richtext }}</div>
            <hr />
        {% endfor %}
    {% endwith %}
{% elif block.block_type == 'column' %}
    {% with column_count=block.value.columns|length %}
    <div class="grid-row">
        {% for column in block.value.columns %}
            <div class="grid-col-12 tablet:grid-col-{{ column_count|column_width }}">
                {% for sub_block in column %}
                    {% render_block sub_block %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% endwith %}
{% else %}
    <p>Block type not recognized: {{ block.block_type }}</p>
    {{ block.value }}
{% endif %}
