{% load static %}
{% load wagtailcore_tags %}

{# Card Tiles Block - Responsive button grid layout #}
{# Desktop (>1025px): 4 tiles in a row #}
{# Tablet (768-1025px): 2x2 grid #}
{# Mobile (<768px): Vertical stack #}
<style>
.card-tile {
    display: flex;
    width: 260px;
    padding: 33px 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-shrink: 0;
    align-self: stretch;

    border-radius: 5px;
    border: 1px solid var(--theme-color-primary);
}

.card-tile__header {
    align-self: stretch;
    color: var(--theme-color-primary-darker, #162E51);
    text-align: center;
    font-family: "Source Sans 3";
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px; /* 125% */
}

.card-tile__icon {
    width: 54px;
    height: 54px;
    fill: var(--theme-color-primary, #005EA2);
}

/* Mobile: 1 column (< 768px) */
@media (max-width: 767px) {
}
/* Tablet: 2x2 grid (768px - 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {

}
/* Desktop: 4 columns horizontal (>= 1025px) */
@media (min-width: 1025px) {
}
</style>

<div class="card-tiles-container">
    {% for tile in block.value.tiles %}
      <div class="card-tile">
        <img class="card-tile__icon" src="{{ tile.icon.url }}" alt="">
        <h2 class="card-tile__header">{{ tile.card_header }}</h2>
      </div>
    {% endfor %}
</div>

{#<div class="card-tiles-container">#}
{#  <ul class="usa-card-group">#}
{#    {% for tile in block.value.tiles %}#}
{#      <li class="usa-card grid-col-12 tablet:grid-col-6">#}
{#        {% for url_block in tile.breadcrumb_url %}#}
{#          {% if url_block.block_type == 'internal_page' %}#}
{#            <a href="{% pageurl url_block.value %}" class="card-tile">#}
{#          {% elif url_block.block_type == 'external_url' %}#}
{#            <a href="{{ url_block.value }}" class="card-tile" target="_blank" rel="noopener noreferrer">#}
{#          {% endif %}#}
{#        {% endfor %}#}
{#          {% if tile.icon and tile.icon.url %}#}
{#            <img class="card-tile__icon" src="{{ tile.icon.url }}" alt="">#}
{#          {% endif %}#}
{#          <h2 class="card-tile__title">{{ tile.card_header }}</h2>#}
{#        </a>#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#</div>#}
{##}
{#<div>#}
{#    {% for tile in block.value.tiles %}#}
{#    {% endfor %}#}
{#</div>#}
