{% load static tz %}
<style>
    #definitions-container {
        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .definitions-btn {
        position: absolute;
        right: 0;
        width: 30px;
        height: 116px;

        margin-top: calc(116px + 50px * 2);

        background: #005EA2;
        color: #fff;
        border-radius: 4px;
        text-decoration: none;

        font-family: "Public Sans", sans-serif;
        font-weight: 700;
        font-size: 12px;
        line-height: 95%;

        display: inline-flex;
        align-items: center;
        justify-content: center;

        /* keeps it on-screen */
        z-index: 1000;
        border: 1px solid white;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        writing-mode: sideways-lr;
    }

    .definitions-btn .button-contents {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 5px var(--usa-spacing-205, 12px);
    }

    /* mobile styles */
    @media (max-width: 879px) {
        .definitions-btn {
            display: none;
        }
    }

    .definitions-btn,
    .definitions-btn:visited,
    .definitions-btn:hover,
    .definitions-btn:active,
    .definitions-btn:focus {
        color: #fff;
        background: #005EA2;
        text-decoration: none;
    }
</style>
<div id="definitions-container">
    <a class="definitions-btn" href="/definitions" target="_blank" aria-label="Definitions">
        <span class="button-contents">
            <span class="button-text">
                Definitions
            </span>
            <img src="{% static 'images/icons/book.svg' %}" alt="Book">
        </span>
    </a>

</div>
