<style>
    /* ---- Give Feedback (Rotated per Figma spec) ---- */
    #give-feedback-container {
        width: 100%;
        position: sticky;
        top: 0px;
        z-index: 1000;
    }

    .give-feedback-btn {
      position: absolute;
      right: 0;
      width: 30px;
      height: 116px;

      margin-top: calc(50px);

      background: #005EA2;
      color: #fff;
      border-radius: 4px;
      text-decoration: none;

      font-family: "Public Sans", sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 95%;
      text-align: center;

      display: flex;
      align-items: center;
      justify-content: center;

      /* keeps it on-screen */
      z-index: 1000;
      border: 1px solid white;

      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      writing-mode: sideways-lr;
    }

    /* mobile styles */
    @media (max-width: 879px) {
        .give-feedback-btn {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px 20px;
            text-align: center;
            gap: 8px;
            white-space: nowrap;

            position: fixed;
            right: -40px;
            width: 116px;
            height: 38px;

            top: 40vh;
            font-size: 14px;

            border-radius: var(--component-button-radius) 4px 0 0;
            background: var(--theme-color-primary);
        }

        .give-feedback-btn {
            display: none;
        }

    }

    .give-feedback-btn,
    .give-feedback-btn:visited,
    .give-feedback-btn:hover,
    .give-feedback-btn:active,
    .give-feedback-btn:focus {
        color: #fff;
        background: #005EA2;
        text-decoration: none;
    }
</style>
<div id="give-feedback-container">
    <a class="give-feedback-btn"
   href="https://forms.office.com/r/45R5iAguPG"
   aria-label="Give Feedback">Give Feedback</a>
</div>
