{% load static %}
{% load wagtailcore_tags navigation_tags%}

<style>
  .usa-button.styled-button{
    display: flex;
    align-items: center;
    color: var(--color-white);
    padding: 10px 20px;

    min-height: 44px;
    width: fit-content;
    word-break: break-word;
    font-size: 16px;
  }

  .usa-button.styled-button .button-icon {
    background-color: var(--color-white);
    width: 24px;
    height: 24px;
  }

  .usa-button.styled-button.no-hover:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
  }

</style>

<body>
  {% for link_item in block.value.url %}
  <button class="usa-button styled-button {%if not block.value.button_hover%}no-hover{% endif %}" type="button"
          data-is-link="true"
    {% if link_item.block_type == 'external_url' %}
       href="{{ link_item.value }}"
    {% else %}
      onclick="window.location.href='{% pageurl link_item.value %}'"
    {% endif %}
  {% endfor %}>

    {% if block.value.icon and block.value.icon.url %}
      <img class="button-icon" src="{{ block.value.icon.url }}" alt="Button icon">
    {% endif %}
    {{ block.value.text }}
  </button>
</body>
