{% extends "previews/base_preview.html" %}

{% block title %}{{ banner.banner_title }} - News & Announcements Preview{% endblock %}

{% block extra_css %}
    <style>
        .category-high {
            background-color: #f5f5bbff;
            font-weight: bold;
            padding: 0 0.1rem;
            color: black;
        }

        .category-critical {
            background-color: #FF6863;
            font-weight: bold;
            padding: 0 0.1rem;
            color: black;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="grid-container padding-bottom-2 padding-top-2">
        <p><em>Preview: how this banner will appear as a historical entry on the News &amp; Announcements page.</em></p>
        {% for year, releases in press_releases_by_year.items %}
            <h2 class="title">{{ year }}</h2>
            <ul>
                {% for release in releases %}
                    {% include "includes/press_release_entry.html" %}
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}
