{% load i18n wagtailadmin_tags %}

{% block content %}
    <p>
        {% blocktrans with page_title=page.get_admin_display_title page_url=page_edit_url user=editor.get_full_name|default:editor.get_username %}
            Hello,
            <br/><br/>
            The website page '<strong><a href="{{ page_url }}">{{ page_title }}</a></strong>' is in moderation. <strong>{{ user }}</strong> has changed the page. Please <a href="{{ page_url }}">login to Wagtail</a> for more information.
        {% endblocktrans %}
    </p>
    <p>
        {% trans "The new revision has replaced yours in the moderation queue. You may want to review the latest changes." %}
    </p>
{% endblock %}