/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@use "uswds-theme" as *;
@use "uswds-core" as *;

.usa-table {
    td, tr {
        padding: 20px 0px;
    }
}

.usa-table--borderless {
    td {
        border: none;
    }

    thead th {
        border-color: var(--faint-gray);
    }
}

.usa-table--stacked {
    tr:first-child td:first-child {
        border-top: 0 !important;
        border-color: var(--faint-gray);
    }

    th {
        padding: 20px 16px;
    }

    tr, td {
        padding: 20px 16px;
        border-color: var(--faint-gray);
    }

    @include at-media-max("tablet-md") {
        @include table-stacked-styles;

        tr, td {
            padding: 10px 0px;
            border-color: var(--faint-gray);

            .display-none {
                display: none;
                padding: 10px 0px;
            }
        }
    }
}

.usa-table--stacked-header {
    @include at-media-max("tablet-md") {
        @include table-stacked-styles;
        @include table-stacked-header-styles;
    }
}
