[run]
source = .
branch = True
omit =
    tests/*
    *test.py
    */migrations/*
    manage.py
    app/settings/*
    app/wsgi.py

[report]
omit =
    tests/*  # Exclude any directory named 'tests'
    *test.py   # Exclude any file ending in 'test.py'
    */migrations/*
    manage.py
    app/settings/*
    app/wsgi.py
