[run]
source = .
branch = True
omit =
    */tests/*
    */test_*.py
    */migrations/*
    manage.py
    app/settings/*
    app/wsgi.py

[report]
omit =
    */tests/*
    */test_*.py
    */migrations/*
    manage.py
    app/settings/*
    app/wsgi.py
